# Bonus: Temperature Analysis I

In [27]:
import pandas as pd
from datetime import datetime as dt

In [32]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()
#import datetime as dt
from datetime import datetime as dt

In [33]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [34]:
# Set the date column as the DataFrame index
df.set_index("date", inplace = True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [1]:
# Drop the date column
# Create a query and then delete the row collected
#df = df.drop(columns='date')

### Compare June and December data across all years

In [37]:
from scipy import stats

In [48]:
# Filter data for desired months
june_data = df[df.index.month ==6]
dec_data = df[df.index.month ==12]

In [49]:
# Identify the average temperature for June
june_data.mean()

C:\Users\sarma\AppData\Local\Temp/ipykernel_26312/4272335812.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  june_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [50]:
# Identify the average temperature for December
dec_data.mean()

C:\Users\sarma\AppData\Local\Temp/ipykernel_26312/468641930.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [53]:
# Create collections of temperature data
june_temp = june_data.tobs
dec_temp = dec_data.tobs

In [54]:
# Run paired t-test
stats.ttest_ind(june_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

Looking Pvalue the the Numbersm less than .05 thats show us the magnificant diffrence between the months June and December tempreature.